Repository twu/skjold, pull requests merged in 2021-08, with the labels that each got.

#56 Display helpful message if Github Token is not found/set.
  src/skjold/sources/github.py
  tests/test_github.py
Labels: enhancement

#55 Migrate to `packaging` instead of `poetry-semver`.
  poetry.lock
  pyproject.toml
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pyup.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pyup.py
Labels: enhancement

#58 Use `packaging` for parsing versions instead of `poetry-semver`.
  poetry.lock
  pyproject.toml
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pyup.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pyup.py
Labels: enhancement, source:github

#62 Show correct environment variable name in usage
  src/skjold/sources/github.py
Labels: bugfix, source:github
